<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h3>Reservations</h3>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Car Id</td>
        <td>Start date</td>
        <td>End date</td>
        <td>Name</td>
        <td>Email</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Full Price HUF</td>
    </tr>
    </thead>
    <tbody th:each="reservationDto : ${adminDto.getReservationDtoList()}">
    <tr>
        <td th:text="${reservationDto.getId()}"></td>
        <td th:text="${reservationDto.getCarDto().getId()}"></td>
        <td th:text="${reservationDto.getStartDate()}"></td>
        <td th:text="${reservationDto.getEndDate()}"></td>
        <td th:text="${reservationDto.getName()}"></td>
        <td th:text="${reservationDto.getEmail()}"></td>
        <td th:text="${reservationDto.getAddress()}"></td>
        <td th:text="${reservationDto.getPhone()}"></td>
        <td th:text="${reservationDto.getFullPrice()}"></td>
    </tr>
    </tbody>
</table>
<h3>Cars</h3>
<table>
    <thead>
    <tr>
        <td>Car Id</td>
        <td>Type</td>
        <td>Available</td>
        <td>Price/Day HUF</td>
    </tr>
    </thead>
    <tbody th:each="carDto : ${adminDto.getCarDtoList()}">
    <tr>
        <td th:text="${carDto.getId()}"></td>
        <td th:text="${carDto.getType()}"></td>
        <td th:text="${carDto.isAvailable()}"></td>
        <td th:text="${carDto.getPrice()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>